* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: #333;
	font-size: 36px;
	font-family: sans-serif;
}
.card {
	width: 200px;
	background-color: #ddd;
	border-radius: 10px;
	overflow: hidden;

	&__img {
		width: 100%;
	}
	&__body {
		padding: 10px 20px;
	}
	&__text {
		margin: 20px 0;
		font-size: 15px;
	}
	&__btns {
		display: flex;
		justify-content: space-around;
		font-size: 14px;
	}
	&__btn {
		padding: 10px 10px;
		border: 3px solid black;
		border-radius: 8px;
		cursor: pointer;

		&--highlight {
			background-color: rgb(33, 218, 132);
		}
	}
}
